.service__item {
   padding      : 1rem;
   border-bottom: 1px solid #faa83586;
   border-right : 1px solid #faa83586;
   border-radius: 0.5rem;
}

.serviceimg {
   width          : 280px;
   height         : 550px;
   display        : flex;
   align-items    : center;
   justify-content: center;
  
   line-height    : 50px;
}

.serviceimg img {
   width          : 280px;
   height         : 550px;
}

.service__item h6 {
   font-size  : 1.1rem;
   font-weight: 500;
}

.service__item p {
   font-size: 0.8rem;
   color    : var(--text-color);
}

/* =============== RESPONSIVE ================ */
@media only screen and (max-width:992px) {
   
}